.pagination {
    margin-top: 2rem;

    .paginationInDivParent {
        // border: 1px solid gray;
        height: 2rem;
    }

    .paginationInDivChild {
        width: 25%;
        border: 1px solid gray;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        height: 2rem;
    }

    .paginationInDivChild span {
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .previous, .next{
        padding: 5px 20px !important;
    }

    .pageNo{
        padding: 13px !important;
        height: 0.4rem;
        background-color:rgb(3, 120, 16);
        color: aliceblue;
    }

    .previous,
    .pageNo,
    .next,
    .arrawNextIcon {
        border-left: 1px solid gray;
    }



    .paginationNavigation {
        text-align: center;
        margin-top: 1.6rem;
        font-size: 20px;
    }
}